<div class="main-div">
    <mat-card class="example-card">
        <mat-card-header>
            <mat-card-title><strong>Reset your password</strong></mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <form [formGroup]="resetForm">

                <mat-form-field class="example-full-width">                    
                    <input matInput placeholder="Email" [(ngModel)]="email" name="email" formControlName="email"
                        [errorStateMatcher]="matcher" required>
                    <mat-error *ngIf="resetForm.controls['email'].errors?.required"> Email required</mat-error>
                    <mat-error *ngIf="resetForm.controls['email'].errors?.pattern"> Email is invalid</mat-error>
                </mat-form-field><br />

                <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>
            </form>
        </mat-card-content>

        <mat-card-actions>
            <button mat-raised-button (click)="onResetClick()" color="primary">Reset</button>
        </mat-card-actions>

    </mat-card>
</div>