<h1 mat-dialog-title>{{data.title}}</h1>
<div mat-dialog-content>

  <form [formGroup]="authorForm">

    <mat-form-field class="example-full-width">
      <input matInput placeholder="Author Name" [(ngModel)]="data.name" name="NAME" formControlName="name"
        [errorStateMatcher]="matcher">
      <mat-error *ngIf="authorForm.controls['name'].errors?.required"> Author name required</mat-error>
    </mat-form-field><br />

    <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>
  </form>

</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button (click)="onConfirmClick()" cdkFocusInitial>{{data.okButtonText}}</button>
</div>