<h1>Authors management</h1>
<div class="example-container mat-elevation-z8">

  <input matInput placeholder="search" [(ngModel)]="filterModel.searchstring" name="searchstring" class="input-filter"
    (ngModelChange)="loadAuthors()">
    <button mat-raised-button (click)="create()">New author</button>
  <mat-table #table [dataSource]="dataSource" matSort (matSortChange)="sortData($event)">

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="editions">
      <mat-header-cell *matHeaderCellDef> Editions </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.printingEditions}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="edit">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let element">
        <button mat-raised-button (click)="edit(element)">Edit</button>
        <button mat-raised-button (click)="delete(element)">Delete</button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <mat-paginator #paginator [pageSize]="filterModel.pageSize" [length]="count" [pageSizeOptions]="[2, 3, 5, 10]"
    [showFirstLastButtons]="true" (page)="pageEvent = updateTable($event)">
  </mat-paginator>

</div>