<h1 mat-dialog-title>{{data.title}}</h1>
<div mat-dialog-content>

  <form [formGroup]="userForm">

    <mat-form-field class="example-full-width">
      <input matInput placeholder="User name" [(ngModel)]="data.userName" name="username" formControlName="username"
        [errorStateMatcher]="matcher">
      <mat-error *ngIf="userForm.controls['username'].errors?.required">User name required</mat-error>
    </mat-form-field><br />

    <mat-form-field class="example-full-width">
        <input matInput placeholder="First name" [(ngModel)]="data.firstName" name="firstname" formControlName="firstname"
          [errorStateMatcher]="matcher">
        <mat-error *ngIf="userForm.controls['firstname'].errors?.required">First name required</mat-error>
      </mat-form-field><br />

      <mat-form-field class="example-full-width">
        <input matInput placeholder="Last name" [(ngModel)]="data.lastName" name="lastnamename" formControlName="lastname"
          [errorStateMatcher]="matcher">
        <mat-error *ngIf="userForm.controls['lastname'].errors?.required">Last name required</mat-error>
      </mat-form-field><br />

      <mat-form-field class="example-full-width">
        <mat-label>Is blocked</mat-label>
        <mat-select [(ngModel)]="data.isBlocked" formControlName="isblocked" >
          <mat-option [value]="true">true</mat-option>
          <mat-option [value]="false">false</mat-option>
        </mat-select>
      </mat-form-field><br />

    <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>
  </form>

</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button (click)="onConfirmClick()" cdkFocusInitial>{{data.okButtonText}}</button>
</div>