<mat-toolbar color="primary" class="app-header">
  <span class="nav-tool-items">
    <a mat-button routerLink="/" routerLinkActive="active">Home</a>
    <a mat-button routerLink="/account/login" routerLinkActive="active" *ngIf="!currentUser">Login or Register</a>

    <button mat-button [matMenuTriggerFor]="managementmenu" *ngIf="isAdmin">Management</button>
    <mat-menu #managementmenu="matMenu">
      <button mat-menu-item routerLink="/author" routerLinkActive="active">Authors</button>
      <button mat-menu-item routerLink="/list" routerLinkActive="active">Printing editions</button>
      <button mat-menu-item routerLink="/user/users" routerLinkActive="active">Users</button>
      <button mat-menu-item routerLink="/order/orders" routerLinkActive="active">Orders</button>
    </mat-menu>

    <button mat-button [matMenuTriggerFor]="profilemenu" *ngIf="currentUser">Profile</button>
    <mat-menu #profilemenu="matMenu">
      <button mat-menu-item routerLink="/user/profile">Details</button>
      <button mat-menu-item routerLink="/order/myorders" *ngIf="isUser">My orders</button>
      <button mat-menu-item (click)="logout()" *ngIf="currentUser">Logout</button>
    </mat-menu>

    <a mat-button (click)="showCart()" routerLinkActive="active" *ngIf="isUser">Cart</a>
  </span>
</mat-toolbar>