<h1 mat-dialog-title>{{data.dialogTitle}}</h1>
<div mat-dialog-content>

  <form [formGroup]="printingEditionForm">

    <mat-form-field class="example-full-width">
      <input matInput placeholder="Title" [(ngModel)]="data.title" name="title" formControlName="title"
        [errorStateMatcher]="matcher">
      <mat-error *ngIf="printingEditionForm.controls['title'].errors?.required">Title required</mat-error>
    </mat-form-field><br />

    <mat-form-field class="example-full-width">
      <textarea matInput placeholder="Description" [(ngModel)]="data.description" name="description"
        formControlName="description" [errorStateMatcher]="matcher">
      </textarea>
      <mat-error *ngIf="printingEditionForm.controls['description'].errors?.required">Description required</mat-error>
    </mat-form-field><br />

    <mat-form-field class="example-full-width">
      <input matInput placeholder="Price" [(ngModel)]="data.price" name="price" formControlName="price"
        inputmode="numeric" type="number" [errorStateMatcher]="matcher">
      <mat-error *ngIf="printingEditionForm.controls['price'].errors?.required">Description required</mat-error>
    </mat-form-field><br />

    <mat-form-field class="example-full-width">
      <mat-label>Currency</mat-label>
      <mat-select [(value)]="data.currency">
        <mat-option value="USD">USD</mat-option>
        <mat-option value="EUR">EUR</mat-option>
        <mat-option value="UAH">UAH</mat-option>
        <mat-option value="RUB">RUB</mat-option>
      </mat-select>
    </mat-form-field><br />

    <mat-form-field class="example-full-width">
      <mat-label>Product type</mat-label>
      <mat-select [(value)]="data.productType">
        <mat-option value="book">Book</mat-option>
        <mat-option value="magazine">Magazine</mat-option>
        <mat-option value="newspaper">Newspaper</mat-option>
      </mat-select>
    </mat-form-field><br />

    <mat-form-field class="example-full-width">
      <mat-label>Authors</mat-label>
      <mat-select [formControl]="authors" multiple (selectionChange)="setAuthors()">
        <mat-option *ngFor="let author of authorsList" [value]="author.id">{{author.name}}</mat-option>
      </mat-select>
    </mat-form-field><br />

    <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>
  </form>

</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button (click)="onConfirmClick()" cdkFocusInitial>{{data.okButtonText}}</button>
</div>