<div class="main-div">
    <mat-card class="example-card">
        <mat-card-header>
            <mat-card-title><strong>My profile</strong></mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <form [formGroup]="profileForm">
                <div class="image-upload">
                    <img [src]="user.profilePicture" style="max-width:300px;max-height:300px"/>
                    <br>
                    <input name="imageUrl" type="file" accept="image/*" (change)="handleInputChange($event)" *ngIf="profileForm.enabled"/>
                </div> 
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Email" [(ngModel)]="user.email" name="email" formControlName="email"
                        [errorStateMatcher]="matcher">
                    <mat-error *ngIf="profileForm.controls['email'].errors?.required"> Email required</mat-error>
                    <mat-error *ngIf="profileForm.controls['email'].errors?.pattern"> Email is invalid</mat-error>
                </mat-form-field><br />

                <mat-form-field class="example-full-width">
                    <input matInput placeholder="User Name" [(ngModel)]="user.userName" type="text" name="userName"
                        formControlName="userName" [errorStateMatcher]="matcher">
                    <mat-error *ngIf="profileForm.controls['userName'].errors?.required"> Username required
                    </mat-error>
                </mat-form-field><br />

                <mat-form-field class="example-full-width">
                    <input matInput placeholder="First Name" [(ngModel)]="user.firstName" type="text" name="firstName"
                        formControlName="firstName" [errorStateMatcher]="matcher">
                    <mat-error *ngIf="profileForm.controls['firstName'].errors?.required"> First name required
                    </mat-error>
                </mat-form-field><br />

                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Last Name" [(ngModel)]="user.lastName" type="text" name="lastName"
                        formControlName="lastName" [errorStateMatcher]="matcher">
                    <mat-error *ngIf="profileForm.controls['lastName'].errors?.required"> Last name required
                    </mat-error>
                </mat-form-field><br />

                <mat-form-field class="example-full-width" *ngIf="profileForm.enabled">
                    <input matInput placeholder="Old password" [(ngModel)]="changePasswordModel.oldPassword"
                        type="password" name="oldPassword" formControlName="oldPassword" [errorStateMatcher]="matcher">
                    <mat-error *ngIf="profileForm.controls['oldPassword'].errors?.minlength"> Password is invalid
                    </mat-error>
                </mat-form-field><br />

                <mat-form-field class="example-full-width" *ngIf="profileForm.enabled">
                    <input matInput placeholder="New password" [(ngModel)]="changePasswordModel.newPassword"
                        type="password" name="newPassword" formControlName="newPassword" [errorStateMatcher]="matcher">
                    <mat-error *ngIf="profileForm.controls['newPassword'].errors?.minlength"> Password is invalid
                    </mat-error>
                </mat-form-field><br />

                <mat-form-field class="example-full-width" *ngIf="profileForm.enabled">
                    <input matInput placeholder="Confirm new password" [(ngModel)]="confirmNewPassword" type="password"
                        name="confirmNewPassword" formControlName="confirmNewPassword" [errorStateMatcher]="matcher">
                    <mat-error *ngIf="profileForm.controls['confirmNewPassword'].errors?.mismatch"> Passwords not match
                    </mat-error>
                </mat-form-field><br />

                <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>
            </form>
        </mat-card-content>

        <mat-card-actions>
            <button mat-raised-button (click)="profileForm.enable()" color="primary"
                *ngIf="!profileForm.enabled">Edit</button>
            <button mat-raised-button (click)="edit()" color="primary" *ngIf="profileForm.enabled">Confirm</button>
            <button mat-raised-button (click)="cancel()" color="primary" *ngIf="profileForm.enabled">Cancel</button>
        </mat-card-actions>

    </mat-card>
</div>