<div class="main-div">
    <mat-card class="example-card">
        <mat-card-header>
            <mat-card-title><strong>Register</strong></mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <form [formGroup]="registerForm">

                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Email" [(ngModel)]="user.email" name="email" formControlName="email"
                        [errorStateMatcher]="matcher" required>
                    <mat-error *ngIf="registerForm.controls['email'].errors?.required"> Email required</mat-error>
                    <mat-error *ngIf="registerForm.controls['email'].errors?.pattern"> Email is invalid</mat-error>
                </mat-form-field><br />

                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Confirm Email" [(ngModel)]="emailConfirm" name="emailconfirm"
                        formControlName="emailconfirm" [errorStateMatcher]="matcher" required>
                    <mat-error *ngIf="registerForm.controls['emailconfirm'].errors?.mismatch"> Emails not match
                    </mat-error>
                </mat-form-field><br />

                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Password" [(ngModel)]="user.password" type="password" name="password"
                        formControlName="password" [errorStateMatcher]="matcher" required>
                    <mat-error *ngIf="registerForm.controls['password'].errors?.required"> Password required</mat-error>
                    <mat-error *ngIf="registerForm.controls['password'].errors?.minlength"> Password is invalid
                    </mat-error>
                </mat-form-field><br />

                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Confirm Password" [(ngModel)]="passwordConfirm" type="password"
                        name="passwordconfirm" formControlName="passwordconfirm" [errorStateMatcher]="matcher" required>                    
                    <mat-error *ngIf="registerForm.controls['passwordconfirm'].errors?.mismatch"> Passwords not match
                    </mat-error>
                </mat-form-field><br />

                <mat-form-field class="example-full-width">
                    <input matInput placeholder="User Name" [(ngModel)]="user.username" type="text" name="userName"
                        formControlName="username" [errorStateMatcher]="matcher" required>
                    <mat-error *ngIf="registerForm.controls['username'].errors?.required"> Username required
                    </mat-error>
                </mat-form-field><br />

                <mat-form-field class="example-full-width">
                    <input matInput placeholder="First Name" [(ngModel)]="user.firstname" type="text" name="firstnName"
                        formControlName="firstname" [errorStateMatcher]="matcher">
                    <mat-error *ngIf="registerForm.controls['firstname'].errors?.required"> First name required
                    </mat-error>
                </mat-form-field><br />

                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Last Name" [(ngModel)]="user.lastname" type="text" name="lastName"
                        formControlName="lastname" [errorStateMatcher]="matcher">
                    <mat-error *ngIf="registerForm.controls['lastname'].errors?.required"> Last name required
                    </mat-error>
                </mat-form-field><br />

                <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>
            </form>
        </mat-card-content>

        <mat-card-actions>
            <button mat-raised-button (click)="register()" color="primary">Register</button>
            <button mat-button routerLink="/account/login" routerLinkActive="active">Cancel</button>
        </mat-card-actions>

    </mat-card>
</div>