mat-sidenav-container {
    position: fixed;
    height: 100%;
    min-height: 100%;
    width: 100%;
    min-width: 100%;
    padding-left: 1%;
 }
 mat-card {
    width: calc(100% - 10px);
    height: calc(100% - 10px);
  }
  .example-header-image {
   background-image: url('https://image.flaticon.com/icons/png/512/130/130304.png');
   background-size: cover;
 }