<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav [mode]="mode.value" opened="true">
<br>
    <input matInput placeholder="Search" [(ngModel)]="filterModel.searchstring" name="searchstring" class="input-filter"
      (ngModelChange)="loadPrintingEditions()">

      <mat-form-field>
        <mat-label>Product types</mat-label>
        <mat-select [formControl]="productTypes" (selectionChange)="setProductTypes($event)" multiple>
          <mat-option *ngFor="let productType of productTypesList" [value]="productType">{{productType}}</mat-option>
        </mat-select>
      </mat-form-field>

    <p>Min price</p>
    <input matInput placeholder="Min price" [(ngModel)]="filterModel.minPrice" name="minprice" class="input-filter"
      type="number" min="0" (ngModelChange)="loadPrintingEditions()">
    <p>Max price</p>
    <input matInput placeholder="Max price" [(ngModel)]="filterModel.maxPrice" name="maxprice" class="input-filter"
      type="number" min="0" (ngModelChange)="loadPrintingEditions()">

    <mat-form-field>
      <mat-label>Order by</mat-label>
      <mat-select [(value)]="orderBy" (selectionChange)="setSortingOrder()">
        <mat-option>None</mat-option>
        <mat-option value="priceasc">Price low to high</mat-option>
        <mat-option value="pricedesc">Price high to low</mat-option>
        <mat-option value="titleasc">Title A-z</mat-option>
        <mat-option value="titledesc">Title z-A</mat-option>
      </mat-select>
    </mat-form-field>
<br>
    <mat-form-field>
      <mat-label>Currency</mat-label>
      <mat-select [(value)]="currency" (selectionChange)="setCurrency()">
        <mat-option value="USD">USD</mat-option>
        <mat-option value="UAH">UAH</mat-option>
        <mat-option value="EUR">EUR</mat-option>
        <mat-option value="RUB">RUB</mat-option>
      </mat-select>
    </mat-form-field>

  </mat-sidenav>

  <mat-sidenav-content>

    <mat-grid-list [cols]="columnsCount" (window:resize)="onResize()">
      <mat-grid-tile *ngFor="let item of items">
        <mat-card>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>{{item.title}}</mat-card-title>
          <mat-card-subtitle>
            <span *ngFor="let author of item.authors">{{author.name}},</span>
          </mat-card-subtitle>

          <mat-card-content>
            <p>Product type: {{item.productType}}</p>
            <p>Price: {{item.price}} {{item.currency}}</p>
          </mat-card-content>

          <mat-card-actions>
            <button mat-button (click)="openDetails(item)">Details</button>
          </mat-card-actions>

        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>

    <mat-paginator #paginator [pageSize]="filterModel.pageSize" [length]="count" [pageSizeOptions]="[2, 3, 5, 10]"
      [showFirstLastButtons]="true" (page)="pageEvent = updatePages($event)">
    </mat-paginator>

  </mat-sidenav-content>

</mat-sidenav-container>