<mat-card>

    <mat-card-title>{{data.title}}</mat-card-title>
    <mat-card-subtitle>
        <div *ngFor="let author of data.authors">{{author.name}}
        </div>
    </mat-card-subtitle>

    <mat-card-content>
        <p>Product type: {{data.productType}}</p>
        <p>Price: {{data.price}} {{data.currency}}</p>
        <p>Description: {{data.description}}</p>
    </mat-card-content>

    <mat-card-actions>
        <div>
            <button mat-button (click)="onClose()">Close</button>
            <button mat-button (click)="onBuyClick()">Add to cart</button>
            <input matInput placeholder="Count" [(ngModel)]="count" name="count" class="mat-input"
                type="number" min="1">
        </div>
    </mat-card-actions>

</mat-card>