<h1>Printing editions management</h1>
<div class="example-container mat-elevation-z8">

  <input matInput placeholder="search" [(ngModel)]="filterModel.searchstring" name="searchstring" class="input-filter"
    (ngModelChange)="loadPrintingEditions()">

  <div>
    <button mat-raised-button (click)="create()">New printing edition</button>
    <mat-form-field>
      <mat-label>Product types</mat-label>
      <mat-select [formControl]="productTypes" (selectionChange)="setProductTypes($event)" multiple>
        <mat-option *ngFor="let productType of productTypesList" [value]="productType">{{productType}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Currency</mat-label>
      <mat-select [(value)]="currency" (selectionChange)="setCurrency()">
        <mat-option value="USD">USD</mat-option>
        <mat-option value="UAH">UAH</mat-option>
        <mat-option value="EUR">EUR</mat-option>
        <mat-option value="RUB">RUB</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <mat-table #table [dataSource]="dataSource" matSort (matSortChange)="sortData($event)">

    <ng-container matColumnDef="title">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Title </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.title}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="productType">
      <mat-header-cell *matHeaderCellDef> Product type </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.productType}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="authors">
      <mat-header-cell *matHeaderCellDef> Authors </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <div *ngFor="let author of element.authors">{{author.name}},</div>
        </mat-cell>           
    </ng-container>

    <ng-container matColumnDef="price">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Price </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.price}} {{element.currency}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="edit">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let element">
        <button mat-raised-button (click)="edit(element)">Edit</button>
        <button mat-raised-button (click)="delete(element)">Delete</button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <mat-paginator #paginator [pageSize]="filterModel.pageSize" [length]="count" [pageSizeOptions]="[2, 3, 5, 10]"
    [showFirstLastButtons]="true" (page)="pageEvent = updateTable($event)">
  </mat-paginator>

</div>