<div class="main-div">
    <mat-card class="example-card">
        <mat-card-header>
            <mat-card-title><strong>Login</strong></mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <form [formGroup]="loginForm">

                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Email" [(ngModel)]="email" name="email" formControlName="email"
                        [errorStateMatcher]="matcher">
                    <mat-error *ngIf="loginForm.controls['email'].errors?.required"> Email required</mat-error>
                    <mat-error *ngIf="loginForm.controls['email'].errors?.pattern"> Email is invalid</mat-error>
                </mat-form-field><br />

                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Password" [(ngModel)]="password" type="password" name="password"
                        formControlName="password" [errorStateMatcher]="matcher">
                    <mat-error *ngIf="loginForm.controls['password'].errors?.required"> Password required</mat-error>
                    <mat-error *ngIf="loginForm.controls['password'].errors?.minlength"> Password is too short
                    </mat-error>
                </mat-form-field><br />

                <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>
            </form>
        </mat-card-content>

        <mat-card-actions>
            <button mat-raised-button (click)="login()" color="primary">Login</button>
            <button mat-button routerLink="/account/register" routerLinkActive="active">Register</button>
            <br>
            <button mat-button routerLink="/account/passwordrecovery" routerLinkActive="active">Forgot your password?</button>
        </mat-card-actions>

    </mat-card>
</div>