<h1>My orders</h1>
<div class="example-container mat-elevation-z8">
  <mat-table #table [dataSource]="dataSource" matSort (matSortChange)="sortData($event)">

    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Id </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="creationdate">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Date </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.creationDate}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="title">
      <mat-header-cell *matHeaderCellDef> Title </mat-header-cell>
      <mat-cell *matCellDef="let element">
      <ul style="list-style-type:none;">
        <li *ngFor="let product of element.orderItems">{{product.title}}</li>
      </ul>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="producttype">
      <mat-header-cell *matHeaderCellDef> Type </mat-header-cell>
      <mat-cell *matCellDef="let element">
      <ul style="list-style-type:none;">
        <li *ngFor="let product of element.orderItems">{{product.productType}}</li>
      </ul>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="count">
      <mat-header-cell *matHeaderCellDef> Count </mat-header-cell>
      <mat-cell *matCellDef="let element">
      <ul style="list-style-type:none;">
        <li *ngFor="let product of element.orderItems">{{product.count}}</li>
      </ul>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="amount">
      <mat-header-cell *matHeaderCellDef> Amount </mat-header-cell>
      <mat-cell *matCellDef="let element">
      <ul style="list-style-type:none;">
        <li *ngFor="let product of element.orderItems">{{product.amount}} USD</li>
      </ul>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="orderamount">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Order amount </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.orderAmount}} USD</mat-cell>
    </ng-container>

    <ng-container matColumnDef="status">
      <mat-header-cell *matHeaderCellDef> Status </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <p *ngIf="element.status === 'paid'">{{element.status}}</p>
        <button mat-button (click)="pay(element)" *ngIf="element.status !== 'paid'">Pay</button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <mat-paginator #paginator [pageSize]="filterModel.pageSize" [length]="count" [pageSizeOptions]="[2, 3, 5, 10]"
    [showFirstLastButtons]="true" (page)="pageEvent = updateTable($event)">
  </mat-paginator>

</div>