<h1>Users management</h1>
<div class="example-container mat-elevation-z8">

  <div>
    <input matInput placeholder="search" [(ngModel)]="filterModel.searchstring" name="searchstring" class="input-filter"
      (ngModelChange)="loadUsers()">
    <mat-form-field class="example-full-width">
      <mat-label>Is blocked</mat-label>
      <mat-select [(ngModel)]="filterModel.isBlocked" (selectionChange)="loadUsers()">
        <mat-option [value]="true">true</mat-option>
        <mat-option [value]="false">false</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <mat-table #table [dataSource]="dataSource" matSort (matSortChange)="sortData($event)">

    <ng-container matColumnDef="username">
      <mat-header-cell *matHeaderCellDef mat-sort-header> User name </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.userName}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="email">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Email </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.email}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.firstName}} {{element.lastName}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="block">
      <mat-header-cell *matHeaderCellDef> Blocked </mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.isBlocked}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="edit">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let element">
        <button mat-raised-button (click)="edit(element)">Edit</button>
        <button mat-raised-button (click)="delete(element)">Delete</button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <mat-paginator #paginator [pageSize]="filterModel.pageSize" [length]="count" [pageSizeOptions]="[2, 3, 5, 10]"
    [showFirstLastButtons]="true" (page)="pageEvent = updateTable($event)">
  </mat-paginator>

</div>